body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login{
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
 
  background-image: url("Registration/background.jpg");
  background-size: cover;
  background-position: center;
}



.cards{
   background: linear-gradient(90deg, black 0%, rgb(75, 14, 154, 1) 35%, cyan 100%);
}