* {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
  }
 
 body{
    background: rgb(240, 233, 233);
}

.card {
    width: 27rem;
    margin: 0 auto; /* Center the card horizontally */
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row {
    padding-top: 9rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.8);
}

/* Media Queries for Responsiveness */

/* For screens smaller than 768px (tablets and below) */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Make the card full width */
    }
}

/* For screens smaller than 576px (phones) */
@media (max-width: 576px) {
    .container-fluid .row {
        padding-top: 14rem; /* Reduce top padding for smaller screens */
        align-items: center;
    }
}
